<html>

<head>
    <title>修改学生信息</title>
    <script src="resources/scripts/vue.js"></script>
    <script src="resources/scripts/element-ui.js"></script>
    <link rel="stylesheet" href="resources/css/element-ui.css">
    <link rel="stylesheet" href="resources/css/index.css">
</head>

<body>
    <div id="app">
        <el-container>
            <el-header class="title">
                <div class="stitle">
                    <h1>{{head_title}}</h1>
                </div>
            </el-header>
            <el-main class="main">
                <div>
                    <h2>{{head_title1}}</h2>
                </div>
<el-card class="box-card">
                <el-form class="sform" ref="form" :model="form" :rules="rules" label-width="80px" label-position="left">
                    <el-form-item label="姓名" prop="name">
                        <el-input class="in" v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="年龄" prop="age">
                        <el-input class="in" v-model.number="form.age"></el-input>
                    </el-form-item>
                    <el-form-item label="性别" prop="sex">
                        <el-radio-group v-model="form.sex">
                            <el-radio label="男"></el-radio>
                            <el-radio label="女"></el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="爱好" prop="hobby">
                        <el-checkbox-group v-model="form.hobby">
                            <el-checkbox label="体育" name="hobby"></el-checkbox>
                            <el-checkbox label="音乐" name="hobby"></el-checkbox>
                            <el-checkbox label="旅游" name="hobby"></el-checkbox>
                            <el-checkbox label="游戏" name="hobby"></el-checkbox>
                        </el-checkbox-group>
                    </el-form-item>
                    <el-form-item label="学院" prop="colleage">
                        <el-select class="in" v-model="form.colleage" placeholder="请选择学院">
                            <el-option label="管理学院" value="magment"></el-option>
                            <el-option label="计算机学院" value="computer"></el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="专业" prop="profession">
                        <el-select class="in" v-model="form.profession" placeholder="专业">
                            <el-option label="信息管理与信息系统" value="xinguan"></el-option>
                            <el-option label="会计学" value="kuaiji"></el-option>
                        </el-select>
                    </el-form-item>
                        <el-button type="primary" @click="submitForm('form')">{{button1}}</el-button>
                        <el-button @click="button2">{{button2}}</el-button>
                </el-form>
</el-card>
            </el-main>
        </el-container>
    </div>
</body>
<script>
    var checkAge = (rule, value, callback) => {
        if (!value) {
            return callback(new Error('年龄不能为空'));
        }
        setTimeout(() => {
            if (!Number.isInteger(value)) {
                callback(new Error('请输入数字值'));
            } else {
                if (value < 10 || value > 100) {
                    callback(new Error('请输入正确的年龄'));
                } else {
                    callback();
                }
            }
        }, 500);
    };
    var app = new Vue({
        el: '#app',
        data: {
            head_title: '学生信息管理系统',
            head_title1: '修改学生信息',
            head_title2: '学生信息浏览',
            button1: '修改学生信息',
            button2: '返回主页面',
            form: {
                name: '',
                age: '',
                sex: '',
                hobby: [],
                colleage: '',
                profession: '',
            },
            profession: [
                '信息管理与信息系统',
                '会计学'
            ],
            rules: {
                name: [{
                    required: true,
                    message: '请输入姓名',
                    trigger: 'blur'
                }, {
                    min: 2,
                    max: 4,
                    message: '长度在 2 到 4 个字符',
                    trigger: 'blur'
                }],
                age: [{
                    required: true,
                    validator: checkAge,
                    trigger: 'blur'
                }],
                sex: [{
                    required: true,
                    message: '请选择性别',
                    trigger: 'change'
                }],
                hobby: [{
                    type: 'array',
                    required: true,
                    message: '请选择爱好',
                    trigger: 'change'
                }],
                colleage: [{
                    required: true,
                    message: '请选择学院',
                    trigger: 'change'
                }],
                profession: [{
                    required: true,
                    message: '请选择专业',
                    trigger: 'change'
                }]
            }
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        alert('submit!');
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            button2() {
                console.log("button2");
            }
        }
    })
</script>
<style>
.box-card {
    width: 410px;
  }
</style>

</html>