    html {
        font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    }
    .stitle{
        margin: auto;
    }
    .main {
        margin: 5px;
        background: aliceblue;
        border-radius: 15px
    }

    h1,
    h2 {
        text-align: center
    }

    .title {
        margin: 5px;
        background: rgba(101, 164, 236, 0.856);
        border-radius: 15px;
    }

    .in {
        width: 200px
    }

    .sform {
        margin-top: 15px;
    }

    .stable {
        margin-top: 15px;
    }